<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/Index.js'%}"></script>
    <!--- Centro de pago API PAYPAL-->
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=ASdBZU7W9pw7z7H2eH5SBe2ORcouslGF8mYMO0QtoSuaHqz2QxN0mp7KyQa6Am8ZyLF2O-dQxvlIZdjF&currency=USD"></script>
    <!-- Set up a container element for the button -->
    <center>
        <div id="paypal-button-container"></div>
    </center>
    <script>
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'black',
                shape: 'rect',
                label: 'paypal',

                // Sets up the transaction when a payment button is clicked
                createOrder: (data, actions) => {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                "currency_code": "USD",
                                "value": "100",
                                "breakdown": {
                                    "item_total": { /* Required when including the `items` array */
                                        "currency_code": "USD",
                                        "value": "100"
                                    }
                                }
                            },
                            "items": [{
                                "name": "First Product Name",
                                /* Shows within upper-right dropdown during payment approval */
                                "description": "Optional descriptive text..",
                                /* Item details will also be in the completed paypal.com transaction view */
                                "unit_amount": {
                                    "currency_code": "USD",
                                    "value": "50"
                                },
                                "quantity": "2"
                            }, ]
                        }]
                    });
                },
                // Finalize the transaction after payer approval
                onApprove: (data, actions) => {
                    return actions.order.capture().then(function(orderData) {
                        // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                        // When ready to go live, remove the alert and show a success message within this page. For example:
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                }
            }
        }).render('#paypal-button-container');
    </script>
</body>
</html>
